<!-- Add key indicator panel -->
<div class="panel-group" id="accordionAddKeyIndicator" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingAddKeyIndicator">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordionAddKeyIndicator" href="#collapseAddKeyIndicator" aria-expanded="true" aria-controls="collapseAddKeyIndicator">
          Add a Key Indicator <i class="glyphicon glyphicon-plus pull-right"></i>
        </a>
      </h4>
    </div>
    <div id="collapseAddKeyIndicator" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAddKeyIndicator">
      <div class="panel-body">
        <form name="addKeyIndicatorForm" ng-controller="KeyIndicatorController as keyIndicatorCtrl" ng-submit="keyIndicatorCtrl.addKeyIndicator(category)">
          <div class="form-group">
            <label for="keyIndicatorName">Name</label>
            <input id="keyIndicatorName" type="text" ng-model="keyIndicatorCtrl.keyIndicatorToAdd.KeyIndicatorName" class="form-control" placeholder="Key Indicator Name"/>
          </div>
          <div class="form-group">
            <label for="keyIndicatorDescription">Description</label>
            <textarea id="keyIndicatorDescription" ng-model="keyIndicatorCtrl.keyIndicatorToAdd.KeyIndicatorDescription" class="form-control" rows="3" placeholder="Key Indicator Description"></textarea>
          </div>
          <div class="form-group">
            <label for="keyIndicatorWeight">Weight</label>
            <select id="keyIndicatorWeight" ng-model="keyIndicatorCtrl.keyIndicatorToAdd.KeyIndicatorWeight" class="form-control">
              <option value="1">1 - Very low</option>
              <option value="2">2 - Low</option>
              <option value="3">3 - Medium</option>
              <option value="4">4 - High</option>
              <option value="5">5 - Very high</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
