<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-repeat="category in userCtrl.user.Categories">
            <a ng-href="#category_{{category.CategoryID}}">{{ category.CategoryName }} </a>
        </li>
    </ul>
    
    <div class="tab-content">
        <div ng-repeat="category in userCtrl.user.Categories" role="tabpanel" class="tab-pane active" id="category_{{category.CategoryID}}">
            This is the {{category.CategoryName}} category
        </div>
    </div>
</div>