<ul class="nav nav-sidebar">
    <li ng-class="{ active: navCtrl.isActiveTab('tabOverview')}" role="presentation"><a href ng-click="navCtrl.setActiveTab('tabOverview', 'Overview')">Overview</a></li>
    <li ng-class="{ active: navCtrl.isActiveTab('tabGoals')}" role="presentation"><a href ng-click="navCtrl.setActiveTab('tabGoals', 'Goals')">Goals</a></li>
    <li ng-class="{ active: navCtrl.isActiveTab('tabSettings')}" role="presentation"><a href ng-click="navCtrl.setActiveTab('tabSettings', 'Settings')">Settings</a></li>
</ul>
<ul ng-show="userCtrl.user.UserType == 1" class="nav nav-sidebar">
    <li ng-show="userCtrl.user.UserType == 1" ng-class="{ active: navCtrl.isActiveTab('tabJson')}" role="presentation"><a href ng-click="navCtrl.setActiveTab('tabJson', 'JSON')">JSON</a></li>
</ul>